    <footer>
        <p>&copy; {{copyrightYear}} Created by <a target="_blank" href="https://github.com/jsCodeDevs">jsCodeDevs</a></p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>