{{> header}}
    <section class="container error">
        <h1>400</h1>
        <p>You entered an invalid URL. Please try again.</p>
        <a class="a__back" href="/">Go Back</a>
    </section>
{{> footer}}